body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

#container {
}

#nav {
  min-height: 680px;
  font-size: 20px;
  padding: 10px 10px;
  margin: 10px 0 10px 0;
  border: 1px solid black;
  background: #eee;
}

#details {
  min-height: 100px;
  font-size: 20px;
  padding: 15px 20px;
  margin: 10px 0 10px 0;
  border: 1px solid black;
  background: #eee;
}

#content {
  min-height: 508px;
  /*font-size: 20px;*/
  padding: 15px 20px;
  margin: 10px 0 10px 0;
  border: 1px solid black;
  background: #eee;
}

ul {
  line-height: 70px;
  padding: 0;
  width: 100%;
}

ul li {
  text-decoration: none;
  list-style-type: none;
  padding: 0 30px;
  width: 100%;
  cursor: pointer;
}

ul li:hover {
  background-color: black;
  color: white;
  width: 100%;
}

#options {
  display: inline-block;
}

#author {
  font-weight: normal;
  padding: 0 20px;
}

#author h3 {
  font-weight: lighter;
  /*font-size: 25px;*/
  padding: 10px 0;
}

#image {
  padding: 0 20px;
}

#desc {
  padding: 15px 20px;
}

#btn-more-div {
  padding: 0 20px;
}
