<h2>Statistics</h2>
<div>
  <h3>Total users: {{stats.users}}</h3>
  <h3>Total animals: {{stats.animals}}</h3>
  <div>
    User functionality is prepared by me while watching the Workshop with Redux.
    All the other CRUD functionality for the animals is done by me WithouT using Redux.
    You may see that i have a directive for adding 'box-shadow' efect over images and
    I have a global service prepared by me for displaying server messages at the top of the page (like toastr)
    Thank you for your time and consideration!
  </div>
</div>
